################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vcpkg-configuration.json
/vcpkg.json
/vcpkg_installed
